article(id=`${navs.about.href}`).panel.profiles 
  header 
    h2 #{navs.about.title}
  .profile.right 
    .image
      img(src="/img/user.jpg")
    ul 
      li.name Christina Hann
        ul 
          li.position Owner & Founder 
            ul 
              li.skills Bachelor of Arts
              li.skills Marketing
              li.skills Sales
  .profile 
    .image
      img(src="/img/nicolas.jpg")
    ul 
      li.name Nicolas Trefzger 
        ul 
          li.position General Manager & Founder 
            ul 
              li.skills Bachelor of Engineering
              li.skills Software Development
              li.skills Consulting
  .profile.right 
    .image
      img(src="/img/user.jpg")
    ul 
      li.name Hartono 
        ul 
          li.position Director of Finance & Owner
            ul 
              li.skills Bachelor of Arts
              li.skills Financing 
              li.skills Accounting
