section#fashion.spotlight.fashion.left
  span.image.fit.main
    img(src="/img/fashion.jpg" alt="")
  .content
    header
      h2 Christy Fashion
      p Elevate Your Everyday!
    p We are a fashion-forward company specializing in stylish tote bags and accessories that seamlessly combine fashion and functionality. With our captivating collection of perfumed hand sanitizers, we add a touch of luxury to your everyday hand hygiene routine. Discover our innovative designs and curated scents, and let us elevate your style and personal care experience.
    ul.actions
      li
        a.button(href="https://fashion.mogin.net" target="_blank") Learn More
  a.goto-next.scrolly(href="#technology") Next