section#banner
  .content
    header
      h2 Empowering Excellence
      p 
        | Inspiring Innovation, Extraordinary Journeys
        br
        | Mogin Group, Your Path to Success!
    span.image
      img(src="/img/logo.svg" alt="")
  a.goto-next.scrolly(href="#travel") Next