article#home.panel.intro
  header
    img.logo(src="/img/logo.svg")
    div Technology Terpadu
  a(href="#projects").jumplink.pic
    span.arrow.icon.solid.fa-chevron-right 
      span Customers
    img(src="/img/coding.jpg" alt="")