section#travel.spotlight.travel.left
  span.image.fit.main
    img(src="/img/travel.jpg" alt="")
  .content
    header
      h2 Grand Bali Luxe Tours
      p Where Luxury Meets Extraordinary Experiences!
    p Discover Bali like never before with our carefully crafted small group tours. We take you beyond the beaten path and introduce you to the most captivating destinations that Bali has to offer. With our insider knowledge and local expertise, we unveil hidden gems and create memories that will last a lifetime.
    ul.actions
      li
        a.button(href="https://travel.mogin.net" target="_blank") Learn More
  a.goto-next.scrolly(href="#rental") Next