include /navigation.pug

doctype html
html(lang="en")
  head
    block title
    - var headerTitle = title ? `PT. Mogin Technology Terpadu :: ${title}` : "Pt. Mogin Technology Terpadu"
    title #{headerTitle}
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")/
    link(rel="stylesheet" href="/css/main.css")/
    noscript: link(rel="stylesheet" href="/css/noscript.css")/
  body.is-preload
    // Wrapper 
    #wrapper
      // Navigation 
      block navigation
        +navigate

      // Main Content 
      #main
        block content


      // Footer 
      #footer
        ul.copyright 
          li#copyright &copy; 2021 - #{new Date().getFullYear()}
          li PT. Mogin Technology Terpadu
          li 
            a(href="/credits.html") Credits
    include ./scripts.pug