doctype html
html(lang="en")
  head
    block title
    - var headerTitle = title ? `Pt. Mogin Technology Terpadu :: ${title}` : "Pt. Mogin Technology Terpadu"
    title #{headerTitle}
    meta(charset="utf-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")/
    link(rel="stylesheet" href="/css/main.css")/
    noscript: link(rel="stylesheet" href="/css/noscript.css")/
  body.is-preload
    // Wrapper 
    #wrapper
      // Navigation 
      nav#nav
        a(href="#").icon.solid.fa-home: span Home
        a(href="#projects").icon.solid.fa-cube: span Projects
        a(href="#tools").icon.solid.fa-tools: span Tools
        a(href="#about").icon.solid.fa-id-card: span About Us
        a(href="#contact").icon.solid.fa-envelope: span Contact

      // Main Content 
      #main
        block content

        article#credits.panel 
          header 
            h2 Credits
          h5 Images
          ul 
            li Unsplash (#[a(href="http://unsplash.com") unsplash.com])
            li Pixabay (#[a(href="http://pixabay.com") pixabay.com])
          h5 Icons
          ul 
            li Font Awesome (#[a(href="http://fontawesome.io") fontawesome.io])
          h5 Other 
          ul 
            li jQuery (#[a(href="http://jquery.com") jquery.com])
            li Responsive Tools (#[a(href="http://github.com/ajlkn/responsive-tools") github.com/ajlkn/responsive-tools])
            li HTML5UP Astral (#[a(href="http://html5up.net/astral") html5up.net/astral])

      // Footer 
      #footer
        ul.copyright 
          li#copyright &copy; 2021 - #{new Date().getFullYear()}
          li Pt. Mogin Technology Terpadu
          li 
            a(href="#credits") Credits
    include ./scripts.pug