extends /layout.pug
block title
  - title = "Design"

block content 
  #main.wrapper.style1
    .container
      header.major
        h2= `${title}`
      section
        h4 Typography
        h1 H1 Header
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h2 H2 Header
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h3 H3 Header
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h4 H4 Header
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        h5 H5 Header
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        header
          h6 H6 Header
          p Subtitle
        p 
          | Lorem ipsum <b>dolor</b> sit <i>amet</i>, consectetur adipiscing<sup>2</sup> elit. Suspendisse congue<sub>1</sub> enim vitae <del>urna</del> mollis dignissim vitae ut sapien. Etiam eu sapien eleifend dui blandit porta eget sed dolor. Sed iaculis nisl nunc, vel euismod odio pellentesque ut.

        hr

        H4 Blockquote
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        hr

        H4 Code
        pre
          code
            | if (true) {
            |   #{"<lorem></lorem>\ntess"}
            |   var t = 1;
            | }

        hr

        H4 Unordered List
        ul 
          li Level 1.1
          li Level 1.2
            ul
              li Level 2.1
              li Level 2.2
                ul
                  li Level 3.1
                    ul
                      li Level 4.1
                      li Level 4.2
                  li Level 3.2
        H4 Ordered List
        ol 
          li Level 1.1
          li Level 1.2
            ol
              li Level 2.1
              li Level 2.2
                ol
                  li Level 3.1
                  li Level 3.2

      hr

      section
        h4 Tables
        .table-wrapper
          table
            caption Default
            thead
              tr 
                th Header 1
                th Header 2
                th Header 3
            tbody
              tr 
                td Entry 1
                td Entry 2
                td Entry 3
              tr 
                td Entry 1
                td Entry 2
                td Entry 3
              tr 
                td Entry 1
                td Entry 2
                td Entry 3
              tr 
                td Entry 1
                td Entry 2
                td Entry 3
            tfoot 
              tr 
                td Foot 1
                td Foot 2
                td Foot 3

      section
        h4 Colors 
        .demo-colors 
          div.color.bg.bg-color.txt-contrast
            div Background
          div.color.fg-bold.bg-color.txt-contrast
            div Forground
          div.color.accent.bg-color.txt-contrast
            div Accent
          div.color.primary.bg-color.txt-contrast
            div Primary
          div.color.travel.bg-color.txt-contrast
            div Travel
          div.color.rental.bg-color.txt-contrast
            div Rental
          div.color.technology.bg-color.txt-contrast
            div Technology
          div.color.fashion.bg-color.txt-contrast
            div Fashion