extends /layout.pug
//- block title
//-   - var title = "Name"

block content
  article#home.panel.intro
    header 
      img.logo(src="/img/logo.svg")
      p Technology Terpadu
    a(href="#projects").jumplink.pic
      span.arrow.icon.solid.fa-chevron-right 
        span Customers
      img(src="/img/coding.jpg" alt="")

  article#projects.panel
    header 
      h2 Projects
    p.
      Lorem
    section 
      .row 
        .col-4.col-6-medium.col-12-small
          a.image.fit
            img.round(src="/img/bmw.jpg" alt="")
        .col-4.col-6-medium.col-12-small
          a.image.fit
            img.round(src="/img/bucher.jpg" alt="")
        .col-4.col-6-medium.col-12-small
          a.image.fit
            img.round(src="/img/bayer.jpg" alt="")

  article#tools.panel
    header 
      h2 Tools
    h5 Programming
    ul 
      li Typescript, Javascript, PHP, Visual Basic, Objective-C, HTML, CSS, SASS, Shell, LaTeX
      li Postgres, MySQL, MariaDB, MsSQL, Oracle, Redis, Memcached
      li React, Angular
    h5 Software
    ul 
      li Visual Studio Code, Docker, Kubernetes, Git, Postman
      li Affinity Designer, Affinity Photo
      li Excel, Powerpoint, Word, Teams 
    h5 Hardware 
    ul 
      li Apple, Windows

  article#about.panel 
    header 
      h2 About Us 

  article#contact.panel 
    header 
      h2 Contact
    section 
      .row 
        .col-4.col-12-small 
          h5 Name:
        .col-8.col-12-small 
          p Pt. Mogin Technology Terpadu
      //- .row 
      //-   .col-4.col-12-small 
      //-     strong NPWP:
      //-     br
      //-     span.tax (Tax Registration No.)
      //- .col-8.col-12-small
      //-   p. 
      //-     53.060.356.2-903.000
      .row 
        .col-4.col-12-small 
          h5 Address:
        .col-8.col-12-small
          p. 
            Jl. Kutat Lestari Gg. 10 No. 16<br>
            80228 Sanur, Bali<br>
            Indonesia
      .row 
        .col-4.col-12-small 
          h5 Phone:
        .col-8.col-12-small
          p. 
            (+62) ...
    //- h5 Credits 
    //- div
    //-   div Images 
    //-   div Unsplash (#[a(href="http://unsplash.com") unsplash.com])
    //- div
    //-   div Icons 
    //-   div Font Awesome (#[a(href="http://fontawesome.io") fontawesome.io])
    //- div 
    //-   div Other 
    //-   div jQuery (#[a(href="http://jquery.com") jquery.com])
    //-   div Responsive Tools (#[a(href="http://github.com/ajlkn/responsive-tools") github.com/ajlkn/responsive-tools])
    //-   div HTML5UP (#[a(href="http://html5up.net/astral") html5up.net/astral])