extends /layout.pug

block content
  include /pages/home.pug

  include /pages/travel.pug

  include /pages/rental.pug

  include /pages/fashion.pug

  include /pages/technology.pug

//-   include /pages/tools.pug

//-   include /pages/about.pug

//-   include /pages/contact.pug

